/* 
montserrat
montserratbold
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,
cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,
figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.roadmap-surcontainer {
    background-color: #ffffff;
    transition: background-color 0.7s ease-in-out;
}
.roadmap-surcontainer.viewable {
    /* display: block;
    visibility: visible; */
    background-color: #5ccbff;
}

.roadmap-surcontainer.viewable .roadmap-container {
    transform: translateY(0);
    opacity: 1;
}

.roadmap-container {
    /* height: 100%; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
}

.roadmap-container canvas {
    height: calc( 100% - 420px );
    display: block;
}

.roadmap-container canvas.pointer {
    cursor: pointer;
}

.last-tile {
    position: absolute;
    top: 500px;
    left: 300px;
    color: white;
    font-family: 'FontLight';
    opacity: 0;
    visibility: hidden;
}

.last-tile:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 15px;
}

@media screen and (max-width: 768px) {
    .last-tile:after {
        width: 10px;
        height: 10px;
    }
}

.last-tile .content {
    position: absolute;
    right: 0;
    left: 0;
    -webkit-transform: translate(20px, -50%);
    transform: translate(20px, -50%);
}

.last-tile span {
    font-size: 13px;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .last-tile span {
        font-size: 12px;
    }
}

.last-tile p {
    margin-top: 10px;
    font-size: 23px;
    line-height: 30px;
}

@media screen and (max-width: 768px) {
    .last-tile p {
        margin-top: 5px;
        font-size: 20px;
        line-height: 20px;
    }
}

.frise-dom-container {
    height: 420px;
    /* background: linear-gradient(to bottom, #48cbff 90%, #5ccbff 100%); */
}

.frise-dom {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 130px;
    box-sizing: border-box;
    color: white;
    font-family: 'FontLight';
    font-weight: 400;
}

@media screen and (max-width: 1180px) {
    .frise-dom {
        padding-top: 60px;
    }
}

.frise-dom h2 {
    font-size: 120px;
    font-family: 'FontBold';
    white-space: nowrap;
}

@media screen and (max-width: 1095px) {
    .frise-dom h2 {
        font-size: 100px;
    }
}

.frise-dom .subtitle {
    padding-left: 80px;
    padding-top: 29px;
}

@media screen and (max-width: 1150px) {
    .frise-dom .subtitle {
        padding-left: 40px;
    }
}

.frise-dom .subtitle h3 {
    font-family: 'FontLight';
    font-size: 30px;
    line-height: 40px;
}

@media screen and (max-width: 1095px) {
    .frise-dom .subtitle h3 {
        font-size: 23px;
    }
}

.frise-dom .subtitle p {
    margin-top: 20px;
    font-size: 17px;
}

.frise-dom .subtitle span {
    font-family: 'FontBold';
}

.frise-dom .frise {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 40px;
    position: relative;
}

.frise-dom .frise:before {
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    left: -20px;
    right: 0;
    border-bottom: 1px solid white;
    width: calc( 100% + 40px);
}

.frise-dom .title-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.frise-dom ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 0;
}

.frise-dom li {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 12px;
    width: 124px;
    position: relative;
    cursor: pointer;
}

@media screen and (max-width: 920px) {
    .frise-dom li {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.frise-dom li span {
    display: block;
    text-align: center;
    color: #0e8bc8;
}

.frise-dom li p {
    margin-top: 35px;
    text-align: center;
}
.frise-dom li.active{
    font-size: 12px;
    line-height: inherit;
    color: white;
}

.frise-dom li.active:after {
    background-color: white;
}

.frise-dom li:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 19px;
    left: calc( 50% - 3px);
    border: 1px solid white;
    background-color: #48caff;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    transition: 0.5s background-color ease-out;
}

@media screen and (max-width: 920px) {
    body .roadmap-container canvas {
        height: calc( 100% - 328px);
    }
    body .frise-dom-container {
        height: 328px;
    }
    body .frise-dom {
        padding-top: 25px;
    }
    body .frise-dom h2 {
        font-size: 60px;
    }
    body .frise-dom .title-bar {
        display: block;
    }
    body .frise-dom .frise:after {
        left: -20px;
        width: calc( 100% + 40px);
    }
    body .frise-dom .subtitle {
        padding-left: 0;
        padding-top: 20px;
    }
    body .frise-dom .subtitle h3 {
        font-size: 19px;
        line-height: 25px;
        padding-right: 50px;
    }
    body .frise-dom .subtitle p {
        font-size: 13px;
        margin-top: 10px;
    }
    body .frise-dom ul {
        display: block;
        white-space: nowrap;
    }
    body .frise-dom ul li {
        width: calc( 50% - 7px);
        white-space: initial;
        display: inline-block;
        vertical-align: top;
    }
}

#preloadfont {
    font-family: 'FontLight';
    color: white;
    position: absolute;
    top: -360px;
    left: -656px;
    font-size: 45px;
}